@page
@model HairSalonBookingApp.Pages.StaffStylistPage.CreateStaffStylistModelModel
@{
    ViewData["Title"] = "Create Staff Stylist";
}

<h1>Create Staff Stylist</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="CreateStaffStylistRequest.StaffStylistName" class="form-label">Name</label>
        <input asp-for="CreateStaffStylistRequest.StaffStylistName" class="form-control" type="text" required />
        <span asp-validation-for="CreateStaffStylistRequest.StaffStylistName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreateStaffStylistRequest.BranchID" class="form-label">Branch</label>
        <select asp-for="CreateStaffStylistRequest.BranchID" class="form-control">
            <option value="">-- Select Branch --</option>
            @foreach (var branch in Model.Branches)
            {
                <option value="@branch.Id">@branch.SalonBranches</option>
            }
        </select>
        <span asp-validation-for="CreateStaffStylistRequest.BranchID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreateStaffStylistRequest.Email" class="form-label">Email</label>
        <input asp-for="CreateStaffStylistRequest.Email" class="form-control" type="email" required />
        <span asp-validation-for="CreateStaffStylistRequest.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreateStaffStylistRequest.Password" class="form-label">Password</label>
        <input asp-for="CreateStaffStylistRequest.Password" class="form-control" type="password" required />
        <span asp-validation-for="CreateStaffStylistRequest.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreateStaffStylistRequest.PhoneNumber" class="form-label">Phone Number</label>
        <input asp-for="CreateStaffStylistRequest.PhoneNumber" class="form-control" required />
        <span asp-validation-for="CreateStaffStylistRequest.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreateStaffStylistRequest.Address" class="form-label">Address</label>
        <input asp-for="CreateStaffStylistRequest.Address" class="form-control" required />
        <span asp-validation-for="CreateStaffStylistRequest.Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreateStaffStylistRequest.AvatarImage" class="form-label">Avatar</label>
        <input asp-for="CreateStaffStylistRequest.AvatarImage" class="form-control" type="file" />
        <span asp-validation-for="CreateStaffStylistRequest.AvatarImage" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>