<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - HairSalonBookingApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <header class="bg-gray-800 text-white py-3  shadow-md">
        <div class="container mx-auto flex justify-between items-center px-6">
            <a href="@Url.Action("Index", "Home")" class="flex items-center">
                <img src="~/images/Logo.jpg" class="w-auto h-12 mr-4" alt="Hair Salon Logo">
                <h1 class="text-3xl font-extrabolid">GentleMen</h1>
            </a>
            <nav>
                <a href="/" class="px-4">Trang chủ</a>
                <a href="/About" class="px-4">Đặt lịch</a>
                <a href="/LoginPage/LoginPage" class="px-4">Đăng Nhập</a>
            </nav>
        </div>
    </header>

    <main class="w-full">
        @RenderBody()
    </main>

    <footer class="bg-gray-800 text-white py-3">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Hair Salon Booking App. All rights reserved.</p>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
